@charset "UTF-8";
#div1{
	height: 600px;
	width: 1440px;
	background-image: url(1F217106-CA89-4B86-BFE8-5688B7A9CB32.JPEG);
	position: absolute;
	left: 20px;
	top: 200px;
	z-index: 4;
}
#div2{
	height: 300px;
	width: 360px;
	background-image: url(Screen%20Shot%202019-04-16%20at%202.25.52%20AM.png);
	position: absolute;
	left: auto;
	top: -40px;
	z-index: 3;
}
#trang{
	color: #FF9300;
	font-weight: bold;
	font-size: 30px;
	left: 400px;
	top: 50px;
	position: absolute;
	z-index: 6;
}
#sanpham{
	color: #000;
	font-weight: bold;
	font-size: 30px;
	left: 575px;
	top: 50px;
	position: absolute;
	z-index: 6;
}
#gioithieu{
	color: #000;
	font-weight: bold;
	font-size: 30px;
	left: 775px;
	top: 50px;
	position: absolute;
	z-index: 6;
}
#bosuutap {
    color: #000;
    font-weight: bold;
    font-size: 30px;
    left: 975px;
    top: 50px;
    position: absolute;
    z-index: 6;
}

#khoantrong{
	background-color: dimgray;
	width: 700px;
	height: 350px;
	position: absolute;
	top:2600px;
	z-index: 7;
	margin: 0px 0px;
	padding: 0px;

}
#logokhoantrong{
	background-color: dimgray;
	height: 300px;
	width: 350px;
	background-image: url(Screen%20Shot%202019-04-16%20at%202.25.52%20AM.png);
	position: absolute;
	left: 30px;
	top: 2625px;
	z-index: 7;
}
.hethongcuahang{
	font-size: 70px;
	color: #FF9300;
	letter-spacing:0px;
	margin-left: 400px;
	margin-top: 0px;
}
.U18BHQV{
	font-size: 36px;
	color: darksalmon;
	letter-spacing:10px;
	margin-left: 400px;
	margin-top: 30px;

}
#phanbe{
	background-color: pink;
	width: 850px;
	height: 350px;
	position: absolute;
	left: 675px;
	top:-25px;
	z-index: 8;
}
.instagram{
	color: dimgrey;
	font-size: 50px;
	margin-left: 900px;
	margin-top: -375px;
	position: absolute;
	z-index: 9;
}
.web{
	color: dimgrey;
	font-size: 50px;
	margin-left: 900px;
	margin-top: -275px;
	position: absolute;
	z-index: 9;
}
.email{
	color: dimgrey;
	font-size: 50px;
	margin-left: 900px;
	margin-top: -95px;
	position: absolute;
	z-index: 9;

}
.sdt{
	color: dimgrey;
	font-size: 50px;
	margin-left: 900px;
	margin-top: -175px;
	position: absolute;
	z-index: 9;
}
#album{
	background-image: url("Screen Shot 2019-04-19 at 2.30.15 PM.png");
	border: darkgray solid 10px;
	width: 360px;
	height: 250px;
	left: 900px;
	top:-1350px;
	position: absolute;
	z-index: 10;
}
audio{
	color: darkgrey;
	width: 360px;
	height: 50px;
	left: 900px;
	top: -1090px;
	position: absolute;
	z-index: 13;
}
.logoins{
	font-size: 80px;
	margin-left: 800px;
	margin-top: -390px;
	position: absolute;
	z-index: 12;

}
.logoweb{
	font-size: 80px;
	margin-left: 800px;
	margin-top: -300px;
	position: absolute;
	z-index: 12;
}
.logosdt{
	font-size: 80px;
	margin-left: 800px;
	margin-top: -200px;
	position: absolute;
	z-index: 12;
}
.logoemail{
	font-size: 80px;
	margin-left: 800px;
	margin-top: -120px;
	position: absolute;
	z-index: 12;
}
#logoquanao {
    position: absolute;
    z-index: 3;
    left: 50px;
    top: 800px;
}
#logogiay {
    position: absolute;
    z-index: 3;
    left: 50px;
    top: 1200px;
}
#logobosuutap {
    position: absolute;
    z-index: 3;
    left: 700px;
    top: 800px;
}